*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
body{
    background-color: #C6E3FF;
    font-size: 14px;
}
nav{
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo{
    height: 20px;
    width: 100px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-links li a{
    display: flex;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}
.nav-links li button{
    background: none;
    border: none;
    margin: 0 15px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}
.profile-btn{
    background: linear-gradient(90deg, #FFA9C8, #D3A4EE);
    color: #FFFFFF;
    padding: 4px 20px;
    border: none;
    border-radius: 6px;
}
.catalog-btn{
    background: radial-gradient(#BDE0FE, #53ACFF);
    color: #FFFFFF;
    padding: 6px 25px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin: 20px;
}
.catalog-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}
.catalog-container a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.catalog-item{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    height: 200px;
}
#catalog-image-academic, #catalog-image-gaming, #catalog-image-productivity, #catalog-image-beginner, #catalog-image-capitals, #catalog-image-history,#catalog-image-liter, #catalog-image-web{
    background: linear-gradient(180deg, #FFA9C8, #FF7CAC);
    max-width: 128px;
    width: 80px;
    padding: 10px 50px;
    border-radius: 8px;
}
#catalog-image-tech, #catalog-image-geography, #catalog-image-math, #catalog-image-excel{
    background: linear-gradient(180deg, #DEC3ED, #CA7FF4);
    max-width: 128px;
    width: 80px;
    padding: 10px 50px;
    border-radius: 8px;
}
#catalog-image-art, #catalog-image-trivia, #catalog-image-science, #catalog-image-python{
    background: linear-gradient(180deg, #BDE0FE, #84C3FF);
    max-width: 128px;
    width: 80px;
    padding: 10px 50px;
    border-radius: 8px;
}
.catalog-topic{
    background-color: #FFFFFF;
    box-shadow: 0 4px 50px #FFDAE8;
    padding: 20px;
    border-radius: 10px;
    margin: 25px;
}
footer{
    background-color: #ffffffa0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    margin-top: 40px;
    text-align: center;
}
footer a{
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-content: center;
    margin: 5px 10px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    margin: 5px 0 50px;
}